.cards{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    justify-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    transform: scale(1.0);
    transition: all 1s;
}


.card:hover{
    transform: scale(1.1);
    transition: all, 1s;
}



.under_text{
    font-family: "Palatino Linotype", sans-serif;
    font-size: 18px;
    text-align: center;
}


img{
    width: 340px;
    height: 320px;
}